.about{
    padding: 5.6vw;
    height: 80vh;
    background-color: @dark_orange;

    &__title{
        margin-top: 7.2vw;
        margin-left: 2.5vw;
        display: flex;
        align-items: center;
        font-size: 32px;
        
        span{
            max-width: 64px;
            img{
                width: 100%;
            }
        }
        h2{
            color: @white;
            text-transform: uppercase;
            position: absolute;
            margin-left: 50px;
            margin-top: 20px;
            b{
                color: @black;
            }
        }
    }
    &__desc{
        padding: 1vw 32vw 2vw 8vw;
        p{
            color: @white;
            font-size: 22px;
            font-family: Base;
            text-transform: uppercase;
            b{
                text-transform: none;
                font-size: 18px;
                color: @black;
            }
        }
    }
    &__signature{
        margin-left: 58%;
        max-width: 200px;
        color: @black;
        text-align: center;
        font-size: 12px;
        img{
            width: 100%;
        }
    }
    &__footer{
        max-width: 50%;
        img{
            width: 100%;
        }
    }
}