.sponsors{
    padding: 5.6vw;
    margin-top: 100px;
    &__list{
        display: flex;
        justify-content: space-around;
        &__item{
            max-width: 100px;
            .nosvg{
                margin-top: 35px;
            }
            img{
                width: 100%;
            }
        }
    }
}